<ion-header [translucent]="true" id="headercolor">
  <ion-toolbar>
    <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    <ion-title><img src="../../assets/campushorizontal.png" alt="campusfp" id="imagetitle"></ion-title>
  </ion-toolbar>
</ion-header>

<h3>Rellena los siguientes campos:</h3>

  <ion-item lines="full">
    <ion-label position="floating">Nombre:</ion-label>
    <ion-input type="text" [(ngModel)]="nombre" required></ion-input>
  </ion-item>

  <br/>
  <ion-item lines="full">
    <ion-label position="floating">Teléfono:</ion-label>
    <ion-input type="tel" [(ngModel)]="telefono" required></ion-input>
  </ion-item>
  <br/>
  <ion-item lines="full">
    <ion-label position="floating">Email:</ion-label>
    <ion-input type="email" [(ngModel)]="email" required></ion-input>
  </ion-item>
  <br/>
  <ion-item>
    <ion-textarea placeholder="Si tienes alguna duda, escríbela aquí." [autoGrow]="true"
    [(ngModel)]="comentario">
    </ion-textarea>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" expand="block" id="boton" (click)="registerUser()">Enviar información</ion-button>
    </ion-col>
  </ion-row>
<p id="respuesta">{{respuesta}}</p>
