
<ion-header [translucent]="true" id="headercolor">
  <ion-toolbar>
    <ion-title><img src="../../assets/campushorizontal.png" alt="campusfp" id="imagetitle"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h2 id="h2title">¡Hola!</h2>

<h4>Si quieres conocer más acerca de nuestros centros y los grados que impartimos, ¡No dudes en visitar nuestra <a href="campusfp.es">web</a></h4>

<h4>¿Tienes dudas? ¿Te gustaría reservar una plaza? Rellena este formulario y nos pondremos en contacto contigo lo antes posible</h4>

<br/>
<ion-button shape="round" id="buttoncenter" href="form">Rellenar</ion-button>
<br/>

<h3>¡Muchísimas gracias por tu interés!</h3>
  

