
<ion-header [translucent]="true" id="headercolor">
  <ion-toolbar>
    <ion-title><img src="../../assets/campushorizontal.png" alt="campusfp" id="imagetitle"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h2 id="h2title">¡Hola!</h2>

<h4>Visita nuestra <a href="https://campusfp.es">web</a> si quieres conocer más acerca de nuestros centros y los grados que impartimos.</h4>

<h4>¿Tienes dudas? ¿Te gustaría reservar una plaza? Rellena este formulario y nos pondremos en contacto contigo lo antes posible</h4>

<br/>
<ion-button shape="round" id="buttoncenter" routerLink="form">Rellenar</ion-button>
<br/>

<h3>¡Muchísimas gracias por tu interés!</h3>

<div id="footer">
<ion-footer>  
  <ion-toolbar>
    <!-- <ion-title></ion-title> -->
    <h5>Aplicación realizada por:</h5>
    <h5> Alberto Díaz, Daniel Fernández y Fernando Trujillo</h5>
  </ion-toolbar>
</ion-footer>
</div>