
<ion-header [translucent]="true" id="headercolor">
  <ion-toolbar>
    <ion-title id="titulo">Inscripción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="email" required></ion-input>
    </ion-item>
  
    <br/>
    <ion-item lines="full">
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="tel" name="tlf" required></ion-input>
    </ion-item>
    <br/>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" required></ion-input>
    </ion-item>
    <br/>
    <ion-item>
      <ion-textarea placeholder="Si tienes alguna duda, escríbela aquí." [autoGrow]="true"
        >
      </ion-textarea>
    </ion-item>
  
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" id="boton">Enviar información</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-img src="../../assets/campuslogo-removebg-preview.png" id="img" alt="CampusFP"></ion-img>

</ion-content>

